[package]
name = "zksync-web3-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ethers = { version = "2.0.4", features = ["rustls"] }
tokio = { version = "1", features = ["macros"] }
hex = "0.4"
eyre = "0.6"
clap = { version = "4.2.7", features = ["derive"] }
serde_json = { vesion = "1" }

log = "0.4"
env_logger = "0.10"
serde = "1.0.163"
